<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311353557596-tdlabsrlt6lpbhtstsjdpud14us8202e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311353557596-tdlabsrlt6lpbhtstsjdpud14us8202e</string>
	<key>API_KEY</key>
	<string>AIzaSyDfhSYXUIDyvnsrWXkezdiZZZ8aOm79Gr8</string>
	<key>GCM_SENDER_ID</key>
	<string>311353557596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AbdulkhakimiOS.BlogApp</string>
	<key>PROJECT_ID</key>
	<string>abdu-96cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>abdu-96cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311353557596:ios:f90f13ae2a1e24c72e5c99</string>
</dict>
</plist>